
.sidenav li{
    margin-top: 5%;
}
.sidenav li:hover{
    background-color: #1f023d;
}
.ulSidenav{
    background-color: #0C0019;
    top: auto;
    color: white;
}
.brigada_button:hover{
    color: #077BF7;
background-color: #077BF7;

}
span {
    font-size: 30px;
  }
  
  @media (max-width:600px) {
    span.responsive {
      font-size: 14px;
    }
  }
